PORT=8000
MODE=development

#ENVIRONMENT



#STELLAR RELATED
OPEX_PUBLIC=G...
OPEX_SECRET=S...
NETWORK=testnet
POOL_CONTRACT_ID=C...
NETWORK_FEE=1000000000#stroops
STELLAR_SERVICE_SK=S...

#SERVICE
SERVICE_DOMAIN=localhost
SERVICE_FEE=100 #stroops

#AUTH
CHALLENGE_TTL=900 #15m
SESSION_TTL=21600 #6h